sshd_port: 22
sshd_permitroot: "no"
sshd_pubkeyauth: "yes"
sshd_gracetime: 20
sshd_passauth: "yes"
sshd_keybits: 1024

ansible_ssh_user: pi
ansible_ssh_pass: raspberry
ansible_sudo: true
ansible_connection: ssh

pi_user: username
pi_user_password: SHA-512-password
github_token: github_token
energy_db: energy.sqlite
phpliteadmin_password: phpliteadmin_password
